%div.page-header
  %h1 Topics

  %ul.nav.nav-pills
    %li
      = link_to new_admin_topic_path do
        %span.glyphicon.glyphicon-plus
        Create new Topic

%table.table
  %thead
    %tr
      %th.col-sm-1 Id
      %th name
      %th status
      %th.col-sm-3
  %tbody
    - @topics.each do |topic|
      %tr
        %td= topic.id
        %td= link_to topic.name, admin_topic_path(topic)
        %td= topic.workflow_state
        %td
          = link_to 'Edit', edit_admin_topic_path(topic), class: 'btn btn-sm btn-default'
          - if topic.can_publish?
            = link_to 'Publish', publish_admin_topic_path(topic), method: :patch, class: 'btn btn-sm btn-default'
          - if topic.can_unpublish?
            = link_to 'Unpublish', unpublish_admin_topic_path(topic), method: :patch, class: 'btn btn-sm btn-default'
          - if topic.can_archive?
            =link_to 'Archive', archive_admin_topic_path(topic), method: :patch, class: 'btn btn-sm btn-default'
    - if @topics.size == 0
      %tr
        %td{colspan: 4}
          %p No topics yet