- content_for :at_root do
  %div.profile-wrapper
    %div.container
      %div.row

        %div.col-md-3
          %div.profile
            %div.avatar
              = image_tag current_user.avatar.url(:medium), class: 'user-avatar'
            %h1= current_user.name
            %span.title= current_user.friendly_title

        %div.col-md-3
          %div.stat
            %span.score
              = current_user.score
              %span.stats-label Punkty

        %div.col-md-3
          %div.stat
            %span.score.games-count
              = current_user.games.size
              %span.stats-label
                Ilość gier

        %div.col-md-3
          %div.stat
            %span.score.correctnes
              = current_user.correct_answers_percentage
              %span.stats-label
                Poprawność


        %div.col-md-4