- content_for :at_root do
  %div.profile-wrapper
    %div.container
      %div.row

        %div.col-md-3
          %div.profile
            %div.avatar
              = image_tag current_user.avatar.url(:medium), class: 'user-avatar'
            %h1= current_user.name
            %span.title= current_user.friendly_title

            %span.level
              Poziom #{current_user.level}

        %div.col-md-3
          %div.stat
            %span.score
              = current_user.score
              %span.stats-label
                Punkty w rankingu

          %div.stat
            %span.score.ranking
              = current_user.ranking_position
              %span.stats-label
                Miejsce w rankingu

        %div.col-md-3
          %div.stat
            %span.score.games-count
              = current_user.games.size
              %span.stats-label
                Ilość gier
          %div.stat
            %span.score.level
              = current_user.level
              %span.stats-label
                Aktualny poziom

        %div.col-md-3
          %div.stat
            %span.score.correctnes
              = current_user.correct_answers_percentage
              %span.stats-label
                Poprawność

          %div.stat
            %span.score.response
              = current_user.average_response_time
              %span.stats-label
                Średnio odpowiedź


        %div.col-md-4