%div.page-header
  %h1= @question.title

%div.page-content
  - if @question.answers.size > 0
    %table.table
      %thead
        %tr
          %th.col-sm-1 #
          %th answers
          %th.col-sm-2
      %tbody
        - @question.answers.each_with_index do |answer, index|
          %tr{class: (answer.correct? ? 'info': nil )}
            %td= index + 1
            %td= answer.content
            %td
              = link_to "edit", edit_admin_question_answer_path(@question, answer), class: 'btn btn-xs btn-default'
              = link_to "delete", admin_question_answer_path(@question, answer), class: 'btn btn-xs btn-default btn-danger',method: :delete, data: { confirm: 'Are you sure?' }

  - if @question.answers.size < 4
    = form_for [:admin, @question, @answer] do |f|
      .form-group
        = f.label :content, "Add new answer:"
        = f.text_field :content, class: 'form-control', autofocus: true

      .form-group
        %div.checkbox
          = f.label :is_correct do
            = f.check_box :is_correct
            This is correct answer

      .actions
        = f.submit 'Add answer', class: 'btn btn-primary'
