%div.page-header
  %h1
    Wyniki quizu
    %small= @quiz.title

%div.page-content

%div.row
  %div.col-md-8
    - @game.replies.each_with_index do |reply, index|
      %div.panel.panel-default.question
        %div.panel-heading
          %h3.panel-title #{index +1}. #{reply.question.title}

        %ul.list-group
          - reply.question.answers.each_with_index do |answer, idx|
            %li{class: answer_class(answer, reply)}
              #{letter(idx)}. #{answer.content}
              - if reply.answer_id == answer.id
                - if reply.is_correct?
                  = "(+#{(Rules.score_for_correct_answer + reply.time)})"
                - else reply
                  = "(0)"


  %div.col-md-4
    = render partial: 'games/results'