%div.page-header
  %h1= @question.title

  %ul.nav.nav-pills
    %li
      = link_to edit_admin_question_path(@question) do
        %span.glyphicon.glyphicon-edit
        Edit
    %li
      = link_to admin_question_path(@question), :method => :delete, :data => { :confirm => 'Are you sure?' } do
        %span.glyphicon.glyphicon-remove
        Delete

%div.page-content
  - if @question.answers.size > 0
    %ul.list-group
      - @question.answers.each_with_index do |answer, index|
        %li.list-group-item #{index+1}. #{answer.content}
  - else
    %p No answers yet.

  = link_to "Manage answers", admin_question_answers_path(@question), class: 'btn btn-default'