%div.page-header
  %h1 Zaloguj się

= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => { :role => 'form'}) do |f|

  = devise_error_messages!

  %div.form-group
    = f.label :email, "Adres email:"
    = f.email_field :email, autofocus: true, class: 'form-control'

  %div.form-group
    = f.label :password, "Hasło"
    = f.password_field :password, class: 'form-control'
    - if devise_mapping.recoverable?
      %span.help-block
      = link_to "Nie pamiętasz hasła?", new_password_path(resource_name)

  - if devise_mapping.rememberable?
    %div.form-group
      %div.checkbox
        = f.check_box :remember_me
        = f.label :remember_me, "Zapamiętaj przez 2 tygodnie"

  %div.social-login
    %span.label Lub zaloguj się przez
    = link_to "Facebook", user_omniauth_authorize_path(:facebook), class: 'btn btn-default btn-lg btn-facebook'
    = link_to "Google", user_omniauth_authorize_path(:google_oauth2), class: 'btn btn-default btn-lg btn-google'


  %div.form-actions
    = f.submit 'Zaloguj się', class: 'btn btn-primary btn-lg'