!!!
%html
  %head
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %title= content_for?(:title) ? yield(:title) : 'QuizApp - Gra w pytania'
    %meta{:name => "description", :content => "#{content_for?(:description) ? yield(:description) : 'QuizApp to wciągająca gra w pytania. Bądź najlepszy! Podbij ranking!'}"}
    = stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body
    - if Rails.env == 'production'
      = render 'layouts/gat'
    -if content_for :intro
      %div.landing
        = render 'layouts/simple_header'
        = yield :intro
      %div.container
        = render 'layouts/messages'
        = yield
    - else
      = render 'layouts/header'
      %div.container
        = render 'layouts/messages'
        = yield

    = render 'layouts/footer'
