!!!
%html
  %head
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %title= content_for?(:title) ? yield(:title) : 'Quizpy'
    %meta{:name => "description", :content => "#{content_for?(:description) ? yield(:description) : 'Quizpy'}"}
    = stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body
    -if content_for :intro
      %div.landing
        = render 'layouts/simple_header'
        = render 'layouts/messages'
        = yield :intro
    - else
      = render 'layouts/header'
      %div.container
        = render 'layouts/messages'
        = yield

    = render 'layouts/footer'
